.map {
  height: 500px;
}

.contact-location {
  border-bottom: 3px solid #232323;
  border-top: 3px solid #232323;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.contact-info {
  position: relative;
}

.contact-info-inner {
  text-align: center;
  background: url('/assets/contact.jpg') center center fixed;
  padding-top: 100px;
  padding-bottom: 120px;
  hr {
    border-top: 2px dashed white;
  }
  h2 {
    text-align: center;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  span {
    color: rgba(0,0,0,.54);
  }
  .contact-form {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mat-card-actions{
    padding-bottom: 40px;
  }
}
