<div class="col-lg-12 banner-image-1">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
        </div> 
        <div class="col-lg-4 col-md-6 col-sm-12 banner-image-text">
            <h1 class="white-text mb-3">hello,</h1>  
            <p class="white-text">
                we need friendly text to go here it should be around 20 - 30 words minimum in order to have the correct structure
            </p> 
            <button>Create Custom Suit</button>
        </div> 
    </div>            
</div>
<div class="col-lg-12">
    <div class="row d-flex justify-content-center get-in-touch pb-5">
        <h1 class="col-lg-12 text-center mt-5">Get in touch</h1>
        <div class="col-lg-8 text-center m-5">
            <p class="white-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>  
        </div> 
        <div class="col-lg-4 col-md-8 col-sm-5 contact-form">
            <div class="row">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">NAME</label>
                </div>
            </div>
            <div class="row">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">EMAIL ADDRESS</label>
                </div>
            </div>
            <div class="row">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">CONTACT NUMBER</label>
                </div>
            </div>
            <div class="row">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">MESSAGE</label>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button class="signup-button">Send Message</button>          
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6 arrange-meeting">
            <h1 class="white-text mb-3">Not sure where to begin?</h1>
            <p class="white-text mx-5 description-sm">Arrange a meeting to get your suit personally tailored</p>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- <p class="white-text mx-5 px-5 description-sm">011 492 33604</p> -->
                    <button (click)="Call()" (mouseenter)="cell = '(+27) 011 492 3360'"  (mouseleave) ="cell = 'give us a call'"><i class="fa fa-phone" aria-hidden="true"></i> {{cell}}</button>            
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- <p class="white-text mx-5 px-5 description-sm">info@alexandersuits.com</p> -->
                    <button (click)="Email()" (mouseenter)="email = 'info@alexandersuits.com'"  (mouseleave) ="email = 'send us an email'"><i class="fa fa-envelope" aria-hidden="true"></i> {{email}}</button>                        
                </div>
            </div>
        </div>
        <div class="col-lg-6 address">
            <h1 class="white-text mb-3">Come Visit</h1>
            <p class="white-text mx-5 description-sm">Alexander Suits (Pty) Ltd., 2nd Floor Tattersalls Building, Albert Street, Johannesburg</p>
            <div class="row">
            <div class="col-lg-12">
                <button (click)="OpenLocation()">get directions <i class="fa fa-arrow-right" aria-hidden="true"></i></button>                        
            </div>
            </div>
        </div>
    </div>
</div>