<div class="container account-container animated fadeIn">
  <div class="centered account-top">
    <h1>Account</h1>
    <p *ngIf="current_user">
      Welcome, {{current_user.fullname}}
    </p><hr />
  </div>
  <div class="hideOnMobile">
    <mat-grid-list cols="3" rowHeight="3:2">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [style.background]="tile.color">
        <button mat-button (click)="tilesLink(tile.text)">{{tile.text}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="showOnMobile centered">
    <div *ngFor="let tile of tiles">
      <button mat-button [style.background]="tile.color" (click)="tilesLink(tile.text)">{{tile.text}}</button><br /><br />
    </div>
  </div>
</div>
