.account-container {
  padding-top: 60px;
  padding-bottom: 80px;
}

md-grid-tile {
  .mat-button {
    width: 100%;
    height: 100%;
  }
}

// md-grid-tile {
//
// .1 {
//   background: #ff7961;}
//

  // background: #ff7961;
  // background: #d05ce3;
  // background: #757de8;
  // background: #67daff;
  // background: #52c7b8;
  // background: #bef67a;
