<div class="order-top animated fadeIn">
  <div class="container">
    <div class="order-title">
      <h1>Order</h1>
      <div class="order-inner"  *ngIf="!isLoading">
        <p>{{order.order_string}}</p>
        <br /><br />
        <div class="row">
          <div class="col-sm-6 col-xl-4"  *ngFor="let product of order.products" style="margin-bottom: 15px;">
            <mat-card class="example-card">
              <mat-card-header style="text-align: left;">
                <div *ngIf="!!product.image_urls && product.image_urls.length > 0" mat-card-avatar style="background-image: url('assets/red.jpg'); background-size: cover;" class="fabric-block"></div>
                <div *ngIf="product.image_urls && product.image_urls.length > 0" mat-card-avatar [ngStyle]="getBg(product)" class="fabric-block"></div>
                <mat-card-title>{{product.name}}, {{product.category}}</mat-card-title>
                <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{getImage(product)}}" alt="Product" class="product-img">
              <mat-card-content style="padding-top: 20px;">
                <div class="row">

                  <div class="col-6">
                    <mat-form-field class="s-full-width">
                      <input matInput placeholder="Amount" value="" disabled="true" [(ngModel)]="product.count" name="amount">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="s-full-width">
                      <input matInput placeholder="Subtotal" value="" disabled="true" [ngModel]="product.price*product.count | number:'1.2-2'" (ngModelChange)="product.price=$event" name="price">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">

                  <div class="col-12">
                    <mat-form-field class="s-full-width" *ngIf="product.status">
                      <input matInput placeholder="Status" value="" disabled="true"  (ngModelChange)="product.status=$event" [ngModel]="product.status | makeEnglish" name="status">
                    </mat-form-field>
                    <mat-form-field class="s-full-width" *ngIf="!product.status">
                      <input matInput placeholder="Status" value="Processing" disabled="true" name="status2">
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <!-- <mat-card-actions style="text-align: right;">
                <button mat-button disabled="{{isLoading}}" (click)="removeItem(product)">Remove</button>
              </mat-card-actions> -->
            </mat-card>
          </div>
        </div>
        <!--
        TODO: delivery details
        TODO: status of each item
        -->

        <div class="order-below">
          <button mat-raised-button color="primary" *ngIf="unpaid(order.status)" (click)="makePayment()">Make Payment</button>
        </div>

      </div>
      <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>
