<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>Choose button styles</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-lg-5 ml-md-5 mt-5">
    <div class="col-lg-3 col-md-12">
        <div class="row d-flex justify-content-center">
            <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedButtonHole ? 'url(' + selectedButtonHole.url + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedButtonHole">
                <h4>You have chosen:</h4>
                <h5>{{selectedButtonHole.name}}</h5>
                <p>{{selectedButtonHole.desc}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <h4>Choose Buttons</h4>
        <div class="row d-flex align-items-start">
            <div class="col-lg-3 col-md-3 col-sm-3 image-circle mb-4" *ngFor="let buttonHole of buttonHolesMock">
                <img class="img-responsive option-circle" />
                <br>
                <h5>{{ buttonHole.name }}</h5>
                <button mat-raised-button class="select-button" (click)="SelectButtonHole(buttonHole)">Select</button>
            </div>
        </div>
        <div class="row mb-4 mt-5">
            <div class="col">
                <h4>Choose a colour for the Buttons</h4>   
                <div class="col-md-4 col-sm-12 d-flex flex-row">
                    <p class="colour-label-text">Colour</p>    
                    <span matTooltip="Burgundy" matTooltipPosition="above">
                        <button class="circle burgundy" (click)="selectedContrastPackageColour = 'red'"></button>
                    </span>  
                    <span matTooltip="Navy" matTooltipPosition="above">
                        <button class="circle blue" (click)="selectedContrastPackageColour = 'blue'"></button>
                    </span>
                    <span matTooltip="Charcoal" matTooltipPosition="above">
                        <button class="circle black" (click)="selectedContrastPackageColour = 'black'"></button>  
                    </span>                                              
                </div>                 
            </div>
        </div>
    </div>
    <div class="col-lg-2 hide-mobile">
        <p class="active-link">
            <i class="fa fa-circle" aria-hidden="true"></i> Buttons</p>
        <p>
            <i class="fa fa-circle-o" aria-hidden="true"></i> Custom Packages </p>
    </div>
</div>
<hr>
<div class="row ml-lg-5 ml-md-5 mt-5">
    <div class="col-lg-3 col-md-12">
        <div class="row d-flex justify-content-center">
            <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedBoutonnerie ? 'url(' + selectedBoutonnerie.url + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedBoutonnerie">
                <h4>You have chosen:</h4>
                <h5>{{selectedBoutonnerie.name}}</h5>
                <p>{{selectedBoutonnerie.desc}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <h4>Button Holes</h4>
        <div class="row d-flex align-items-start">
            <div class="col-lg-3 col-md-3 col-sm-3 image-circle mb-4" *ngFor="let boutonnerie of boutonneriesMock">
                <img class="img-responsive option-circle" />
                <br>
                <h5>{{ boutonnerie.name }}</h5>
                <!-- <p>{{ boutonnerie.desc }}</p> -->
                <button mat-raised-button class="select-button" (click)="SelectBoutonnerie(boutonnerie)">Select</button>
            </div>
        </div>
        <div class="row mb-4 mt-5">
                <div class="col">
                    <h4>Choose a colour for the Button Holes</h4>   
                    <div class="col-md-4 col-sm-12 d-flex flex-row">
                        <p class="colour-label-text">Colour</p>    
                        <span matTooltip="Burgundy" matTooltipPosition="above">
                            <button class="circle burgundy" (click)="selectedContrastPackageColour = 'red'"></button>
                        </span>  
                        <span matTooltip="Navy" matTooltipPosition="above">
                            <button class="circle blue" (click)="selectedContrastPackageColour = 'blue'"></button>
                        </span>
                        <span matTooltip="Charcoal" matTooltipPosition="above">
                            <button class="circle black" (click)="selectedContrastPackageColour = 'black'"></button>  
                        </span>                                              
                    </div>                 
                </div>
            </div>
            <div class="row  mt-5 mr-md-5">
                <div class="col-lg-5 d-flex justify-content-start">
                    <button mat-raised-button class="back-button" (click)="Previous()">Back</button>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <button mat-raised-button class="next-button" (click)="Next()">Next</button>
                </div>
            </div>
    </div>
</div>