<div class="col-lg-12 banner-image-1">
  <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
      </div> 
      <div class="col-lg-4 col-md-6 col-sm-12 banner-image-text">
          <h1 class="white-text mb-3">welcome!</h1>  
          <p class="white-text">
            we need friendly text to go here it should be around 20 - 30 words minimum in order to have the correct structure
          </p> 
          <button>Create Custom Suit</button>
      </div> 
  </div>            
</div>
<div class="col-lg-12">
  <div class="row d-flex justify-content-center about-us">
    <h1 class="col-lg-12 text-center mt-5">Who are we?</h1>
    <div class="col-lg-8 text-center m-5">
      <p class="white-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>  
      <p class="white-text">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p> 
    </div> 
  </div>
</div>