<div class="about-banner">
  <div class="overlay darken">

  </div>
  <div class="about-banner-inner">
    <h3>About</h3>
    <h1>Alexander  Suits</h1>
  </div>
</div>

<div class="about-main darken">
  <div class="about-main-inner">
    <div class="container">
      <md-card>
        <div class="row">
          <div class="col-sm-8" style="padding-left: 30px;">
            <h2>The man behind the material</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar ligula odio, a tincidunt nisi ullamcorper eget. Ut finibus augue sed dolor lacinia, et tempus lorem aliquam. Suspendisse convallis magna eu elementum aliquam. In rutrum odio ut quam dignissim, vitae suscipit enim luctus. Nulla venenatis volutpat velit, et consequat ligula feugiat at. Mauris sit amet commodo massa. Praesent dignissim odio non sodales maximus. Nullam vel odio tristique, sodales arcu a, mollis risus. Fusce sed venenatis nibh.
            </p><br /><br />
              <button md-raised-button  color="primary" (click)="doesNothing()">LinkedIn</button> <button md-raised-button  color="primary" (click)="doesNothing()">Call</button>
          </div>
          <div class="col-sm-4">
            <div class="about-img-container">
              <img src="../assets/man.jpg" class="image-responsive"/>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>

<div class="about-main background">
  <div class="overlay darken">

  </div>
  <div class="about-main-inner">
    <div class="container">
      <md-card>
        <div class="row">
          <div class="col-sm-4">
            <div class="about-img-container">
              <img src="../assets/suit-culture.jpg" class="image-responsive"/>
            </div>
          </div>
          <div class="col-sm-8" style="padding-right: 30px;">
            <h2>The Vision of suit wear</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar ligula odio, a tincidunt nisi ullamcorper eget. Ut finibus augue sed dolor lacinia, et tempus lorem aliquam. Suspendisse convallis magna eu elementum aliquam. In rutrum odio ut quam dignissim, vitae suscipit enim luctus. Nulla venenatis volutpat velit, et consequat ligula feugiat at. Mauris sit amet commodo massa. Praesent dignissim odio non sodales maximus. Nullam vel odio tristique, sodales arcu a, mollis risus. Fusce sed venenatis nibh.
            </p><br /><br />
            <div class="buttons-right">
              <button md-raised-button (click)="doesNothing()">Suit Builder</button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>

<div class="call-to-action">
  <h3>Ready to get started?</h3><br />
  <button md-raised-button color="primary"  (click)="doesNothing()">Click Here</button>
</div>
