@import '../../../styles/colours.scss';

.toolbar-right {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.toolbar-centered {
  flex: 1 1 auto;
  text-align: center;
  button {
    margin-right: 6.25em;
    i {
      padding-left: 0.625em;
      padding-bottom: 0.3125em;
      font-size: 1.5em;
    }
  }
}
.alex-header {
  height: 6.25em;
  color: $c-brown-main;
  width: 100%;
  text-align: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;  
  background: #fff;
}
.alex-logo {
  max-width: 5em;
  margin-right: 3.125em;
}
.shop-dropdown{
  background-color: $c-brown-accent; 
  color: #fff;
}