<div class="alex-header unselectable">
  <div class="container-fluid">
    <div class="row">
        <div class="col-4">
          <div class="call-text ">
            <i class="material-icons">phone</i>   <span><b>CALL CENTRE:</b> <button mat-button (cbOnSuccess)="copied()" ngxClipboard [cbContent]="cell">011 492 33604</button></span>
          </div>
        </div>
        <div class="col-4">
          <img class="img-responsive alex-logo" src="assets/alex-logo.png" />
        </div>
        <div class="col-4">
          <div class="social-icons">
            <button mat-icon-button><fa name="facebook" size="2x"></fa></button>&nbsp;
            <button mat-icon-button><fa name="twitter" size="2x"></fa></button>&nbsp;
            <button mat-icon-button><fa name="instagram" size="2x"></fa></button>
          </div>
          <div class="padding-top: 40px">
          </div>
        </div>
    </div>
  </div>
</div>
<mat-toolbar color="primary" class="unselectable">
  <!-- TODO: hide on mobile -->
  <div class="toolbar-centered">

    <button mat-button routerLink="home">HOME</button>
    <button mat-button routerLink="about">ABOUT</button>
    <button mat-button [matMenuTriggerFor]="shopMenu">SHOP</button>
    <!-- <button mat-button routerLink="accessories">ACCESSORIES</button> -->
    <button mat-button routerLink="contact">CONTACT US</button>
    <button mat-button *ngIf="!isAuthenticated" (click)="login()">LOG IN</button>
    <button mat-button routerLink="account" *ngIf="isAuthenticated">ACCOUNT</button>
  </div>

  <!-- <div class="showOnMobile">
    <button mat-icon-button  (click)="sidenav.open()">
       <mat-icon>more_vert</mat-icon>
    </button>
  </div> -->

  <!-- TODO: Sidenav or Menu to contain navigation for mobile -->
  <!-- <span>Application Title</span> -->

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="toolbar-right"></span> -->

  <!-- <span>Right Aligned Text</span> -->
</mat-toolbar>

<mat-menu #shopMenu="matMenu">
  <button mat-menu-item routerLink="suits"> Suits </button>
  <button mat-menu-item> Shirts </button>
  <button mat-menu-item> Pants </button>
  <button mat-menu-item> Accessories </button>
</mat-menu>

<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="home"> Home </button>
  <button mat-menu-item routerLink="about"> About </button>
  <button mat-menu-item> Suits </button>
  <button mat-menu-item> Accessories </button>
  <button mat-menu-item routerLink="contact"> Contact Us </button>
</mat-menu> -->
