
.toolbar-right {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.toolbar-centered {
  flex: 1 1 auto;
  text-align: center;
}

.alex-header {
  // height: 100px;
  color: #a28750;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;




  .social-icons {
    button {
      border: 2px solid #a28750;
    }
    .mat-icon-button .mat-icon, .mat-icon-button i {
        line-height: 20px;
    }
  }
}

.mat-toolbar.mat-primary {
  background: #232323 !important;
  border-bottom: 5px solid #830024;
}

.call-text {
  padding-top: 10px;
  .material-icons, span {
    vertical-align: middle;
  }
}
