<div class="alex-header unselectable">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
          <div class="call-text ">
            <i class="material-icons">phone</i>   <span><b>CALL CENTRE:</b> +27 72 832-0883</span>
          </div>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive alex-logo" src="assets/alex-logo.png" />
        </div>
        <div class="col-sm-4">
          <div class="social-icons">
            <button md-icon-button><md-icon>phone</md-icon></button>&nbsp;
            <button md-icon-button><md-icon>phone</md-icon></button>&nbsp;
            <button md-icon-button><md-icon>phone</md-icon></button>
          </div>
        </div>
    </div>
  </div>
</div>
<md-toolbar color="primary" class="unselectable">
  <div class="toolbar-centered">

    <button md-button>HOME</button>
    <button md-button>ABOUT</button>
    <button md-button>SUITS</button>
    <button md-button>ACCESSORIES</button>
    <button md-button>CONTACT US</button>
  </div>
  <!-- <span>Application Title</span> -->

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="toolbar-right"></span> -->

  <!-- <span>Right Aligned Text</span> -->
</md-toolbar>
