<div class="dialog">
  <div class="close-dialog">
    <button md-icon-button [md-dialog-close]="false">
      <md-icon class="md-24">close</md-icon>
    </button>
  </div>
  <div style="padding: 10px; text-align: center;" *ngIf="data.cart">
    <div style="padding: 20px;">
      <h3>Your Cart</h3>
    </div>
    <div style="padding-top: 20px;">
      <!-- <div class="row">
        <div class="col-6">
          <h5 class="prod-title">Product Details</h5>
        </div>
        <div class="col-3">
          <h5>Count</h5>
        </div>
        <div class="col-3">
          <h5>Subtotal</h5>
        </div>
      </div> -->
      <!-- <div style="padding: 10px;" *ngFor="let product of data.cart.products">
        <div class="mat-card">
          <div class="row title-padding">
            <div class="col-6">
              <div class="product-left">
                <div class="product-image">
                    <img class="p-img" src="assets/red.jpg"/>
                </div>
                <div class="product-text">
                  <h6><b>{{product.name}}</b></h6>
                  <p>{{product.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="product-center">
                <md-select placeholder="Amount" [(ngModel)]="product.count" (change)="onChange(product)">
                  <md-option *ngFor="let number of numbers" [value]="number">
                    {{ number }}
                  </md-option>
                </md-select>
              </div>
            </div>
            <div class="col-3">
                <div class="product-right">
                  R{{product.price}}
                </div>
            </div>
          </div>
        </div>
      </div><br /><br /><br /> -->
      <div class="row">

        <div class="col-sm-6 col-xl-4"  *ngFor="let product of data.cart.products" style="margin-bottom: 15px;">
          <md-card class="example-card">
            <md-card-header style="text-align: left;">
              <div md-card-avatar style="background-image: url('assets/red.jpg'); background-size: cover;"></div>
              <md-card-title>{{product.name}}</md-card-title>
              <md-card-subtitle>{{product.description}}</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/casual-suit.png" alt="Suit" class="product-img">
            <md-card-content style="padding-top: 20px;">
              <!-- <p>
                R{{product.price}}
              </p>
              <p>
                {{product.count}}
              </p> -->
              <div class="row">
                <div class="col-6">
                  <md-select placeholder="Amount" [(ngModel)]="product.count" (change)="onChange(product)">
                    <md-option *ngFor="let number of numbers" [value]="number">
                      {{ number }}
                    </md-option>
                  </md-select>
                </div>
                <div class="col-6">
                  <md-form-field class="s-full-width">
                    <input mdInput placeholder="Subtotal" value="" disabled="true" [(ngModel)]="product.price" name="price" style="padding-top: 8px;">
                  </md-form-field>
                </div>
              </div>
            </md-card-content>
              <!-- <div class="text-align: center">
                <md-select placeholder="Amount" [(ngModel)]="product.count" (change)="onChange(product)">
                  <md-option *ngFor="let number of numbers" [value]="number">
                    {{ number }}
                  </md-option>
                </md-select>
              </div> -->
            <md-card-actions style="text-align: right;">
              <button md-button>Remove</button>
            </md-card-actions>
          </md-card>
        </div>

      </div><br /><br /><br />
    </div>
    <!-- <div style="text-align: center">
      <button md-raised-button color="primary"  (click)="deleteCart()">Clear Cart</button>
    </div> -->
  </div>
  <div class="" *ngIf="!data.cart">
    Cart is empty
  </div>
</div>
