<!-- <app-coming-soon [pageTitle]="'Orders'"></app-coming-soon> -->
<div class="orders-top animated fadeIn">
  <div class="container">
    <div class="orders-title">
      <h1>Your Orders</h1>
    </div>
    <div class="orders-inner"  *ngIf="!isLoading">
      <div *ngIf="orders">
        <div class="row order-titles hideOnMobile">
          <div class="col-4">
            <strong>Order Number</strong>
          </div>
          <div class="col-4">
            <strong>Status</strong>
          </div>
          <div class="col-4">
             <strong>Total</strong>
          </div>
        </div>
        <div class="">
          <button md-button [routerLink]="['/account/order', order.id]" *ngFor="let order of orders"><div class="orders-card">
            <div class="row">
               <div class="col-sm-4">
                 <span class="showOnMobileInline"><strong>#:</strong></span> {{order.order_string}}
               </div>
               <div class="col-sm-4">
                <span class="showOnMobileInline"><strong>Status:</strong></span> {{order.status | makeEnglish}}
               </div>
               <div class="col-sm-4">
                  <span class="showOnMobileInline"><strong>Total:</strong></span> R{{order.total | number:'1.2-2'}}
               </div>
            </div>
          </div></button>
        </div>
      </div>
      <div *ngIf="!orders">
        You have no orders yet
      </div>
    </div>
    <div class="loading" *ngIf="isLoading">
      <md-spinner></md-spinner>
    </div>
  </div>
</div>
