<!-- <app-coming-soon pageTitle="Extras"></app-coming-soon> -->

<!-- <app-coming-soon pageTitle="Customize"></app-coming-soon> -->
<div class="container animated fadeIn" style="padding-top: 60px; padding-bottom: 60px;">
  <div class="extras-top">
    <h1 id="tabTitle">Extras</h1>
    <br />
    <div class="stepper-box" [ngClass]="{active: steps[0].display === 'block'|| completed0===true}" id="stepper1">
      <button mat-button (click)="changeStep('0')"><div class="circle">1</div>Collar</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[0]">
        <div class="row">
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('1')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[1].display === 'block'}" id="stepper2">
      <button mat-button (click)="changeStep('1')"><div class="circle">2</div>Pockets</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[1]">
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('2')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[2].display === 'block'}" id="stepper3">
      <button mat-button (click)="changeStep('2')"><div class="circle">3</div>Buttons</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[2]">

        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('3')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[3].display === 'block'}" id="stepper4">
      <button mat-button (click)="changeStep('3')"><div class="circle">4</div>Tongue</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[3]">
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('4')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[4].display === 'block'}" id="stepper5">
      <button mat-button (click)="changeStep('4')"><div class="circle">5</div>Vents</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[4]">

        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('5')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[5].display === 'block'}" id="stepper6">
      <button mat-button (click)="changeStep('5')"><div class="circle">6</div>Pants</button>
    </div>
    <div class="stepper-inner no-border">
      <div class="contents animated zoomIn" [ngStyle]="steps[5]">
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="completeExtras()">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
