<!-- <app-coming-soon pageTitle="Extras"></app-coming-soon> -->

<!-- <app-coming-soon pageTitle="Customize"></app-coming-soon> -->
<div class="container animated fadeIn" style="padding-top: 60px; padding-bottom: 60px;">
  <div class="extras-top" *ngIf="!loading">
    <h1 id="tabTitle">Extras</h1>
    <br />
    <div class="stepper-box" [ngClass]="{active: steps[0].display === 'block'|| completed0===true}" id="stepper1">
      <button mat-button (click)="changeStep('0')"><div class="circle">1</div>Additions</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[0]">
        <div class="steps-i">
          <h3>Extras for your suit</h3>
          <p>Get a full suit with all the matching parts for any and all occasions</p><br>
          <div class="cb-container"><mat-checkbox class="as-margin" [(ngModel)]="addWC" (change)="addedWC()" color="primary">Add Waistcoat - <b>R{{wcPrice | number:'1.2-2'}}</b></mat-checkbox></div>
          <div class="cb-container"><mat-checkbox class="as-margin" [(ngModel)]="addCoat" (change)="addedCoat()" color="primary">Add Coat - <b>R{{coatPrice | number:'1.2-2'}}</b></mat-checkbox></div>          
          
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('1')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[1].display === 'block'}" id="stepper2">
      <button mat-button (click)="changeStep('1')"><div class="circle">2</div>Button Holes</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[1]">
        <div>
          <h3>Button holes selection</h3>
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('2')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[2].display === 'block'}" id="stepper3">
      <button mat-button (click)="changeStep('2')"><div class="circle">3</div>Contrast Package</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[2]">
        <div class="steps-i">
          <h3>Contrast Package Selection</h3>
          <p>If you would like a contrast package, please make a selection below</p><br>
          <mat-radio-group class="as-radio-group" [(ngModel)]="selectedOption" name="cp">
            <mat-radio-button class="as-radio-button" *ngFor="let option of options" [value]="option" color="primary">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('3')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[3].display === 'block'}" id="stepper4">
      <button mat-button (click)="changeStep('3')"><div class="circle">4</div>Mock-up Garments</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[3]">
        <div class="steps-i">
          <h3>Mock-up garment</h3>
          <p>To ensure your garment fits perfectly, we recommend ordering a mock-up garment from us to ensure your suit will be fitting exactly as you want it</p><br>
          <div class="cb-container">
              <mat-checkbox class="as-margin" [(ngModel)]="mockup" color="primary" (change)="addMockup()">Add Mock-up Garments - <b>R{{mockupPrice | number:'1.2-2'}}</b></mat-checkbox>
          </div>          
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="changeStep('4')">Next</button>
        </div>
      </div>
    </div>
    <div class="stepper-box" [ngClass]="{active: steps[4].display === 'block'}" id="stepper5">
      <button mat-button (click)="changeStep('4')"><div class="circle">5</div>Review Order</button>
    </div>
    <div class="stepper-inner">
      <div class="contents animated zoomIn" [ngStyle]="steps[4]">

        <div>
          <h3>Quick Review</h3>
          <p>Before continuing with your measurements, please see your current subtotal for your custom suit:</p>
          <br>
          <b>R{{subtotal | number:'1.2-2'}}</b><br><br>
          <form class="s-form">
            <mat-form-field class="s-full-width">
              <input matInput placeholder="Order Comments" value="" [(ngModel)]="comments" name="comments">
            </mat-form-field>
          </form>
        </div>
        <div class="step-buttons">
          <button mat-raised-button color="primary" (click)="completeExtras()">Next Step</button>
        </div>
      </div>
    </div>
  </div>
</div>
