<!-- <app-coming-soon [pageTitle]="'Cart'"></app-coming-soon> -->
<div class="container" *ngIf="products">
  <br /><br />

    <div style="padding: 10px;" *ngFor="let product of products">
      <md-card class="example-card">
        <md-card-header>
          <md-card-title>{{product.name}}</md-card-title>
          <md-card-subtitle>{{product.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            R{{product.price}}
          </p>
          <p>
            {{product.id}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)="addCart(product)">Add To Cart</button>
        </md-card-actions>
      </md-card>
    </div><br /><br /><hr />

    <div style="padding: 40px; text-align: center;" *ngIf="!cart">
      <div style="padding: 20px;">
        <h3 *ngIf="!loadingCart">Cart is empty</h3>
        <h3 *ngIf="loadingCart">Cart is loading</h3>
      </div>
    </div>

    <div style="padding: 40px; text-align: center;" *ngIf="cart">
      <div style="padding: 20px;">
        <h3>Total: R{{cart.total}}</h3>
      </div>
      <div style="">
        <div style="padding: 10px;" *ngFor="let product of cart.products">
          <md-card class="example-card">
            <md-card-header>
              <md-card-title>{{product.name}}</md-card-title>
              <md-card-subtitle>{{product.description}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                R{{product.price}}
              </p>
              <p>
                {{product.count}}
              </p>
            </md-card-content>
          </md-card>
        </div><br /><br /><br />
      </div>
      <div style="text-align: center">
        <button md-raised-button color="primary"  (click)="deleteCart()">Clear Cart</button>
      </div>
    </div>
</div>
