<div class="container-fluid type-top animated fadeIn">
  <div class="row centered">
    <div class="col-md-4">
      <div class="type-option">
        <h3>Casual</h3>
        <div class="gold-circle">
          <button mat-button (click)="selectType('Casual')"><div class="circle-inner">
            <img class="type-suit" src="assets/casual-suit.png"/>
          </div></button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="type-option">
        <h3>Business</h3>
        <div class="gold-circle">
          <button mat-button (click)="selectType('Business')"><div class="circle-inner">
            <img class="type-suit" src="assets/work-suit.png"/>
          </div></button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="type-option">
        <h3>Ceremony</h3>
        <div class="gold-circle">
          <button mat-button (click)="selectType('Ceremony')"><div class="circle-inner">
            <img class="type-suit" src="assets/event-suit.png"/>
          </div></button>
        </div>
      </div>
    </div>
  </div>
</div>
