<div class="container-fluid type-top">
  <div class="row centered">
    <div class="col-md-4">
      <div class="type-option">
        <h3>Casual</h3>
        <div class="gold-circle">
          <div class="circle-inner">
            <img class="type-suit" src="assets/casual-suit.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="type-option">
        <h3>Work</h3>
        <div class="gold-circle">
          <div class="circle-inner">
            <img class="type-suit" src="assets/work-suit.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="type-option">
        <h3>Event</h3>
        <div class="gold-circle">
          <div class="circle-inner">
            <img class="type-suit" src="assets/event-suit.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
