<div style="text-align:center" class="animated fadeIn">
    <owl-carousel
       [options]="{items: 1, dots: false, navigation: true, autoplay: true, loop: true, autoplayTimeout:4000}"
       [items]="images"
       [carouselClasses]="['owl-theme', 'sliding']">
       <div class="item" *ngFor="let image of images;">
           <div class="owl-slide-custom" [ngStyle]=giefImages(image)>

           </div>
           <!-- <img src="{{image}}" /> -->
       </div>
   </owl-carousel>

   <div class="welcome container">
     <h1>We provide you with superlative…</h1>

     <div class="welcome-inner row">
       <div class="col-md-3 col-sm-6">
         <div class="top-line blue">
           <span class="title"><mat-icon>check_circle</mat-icon> Choice</span>
           <p>
            <!-- Alexander Suits offer bespoke men’s attire for every occasion, with a wide range of options including: everyday, business, casual and ceremonial suits. 
            We are the starting point for a gentleman’s personalised wardrobe.  -->
            Choose from a selection of more than 200 luxury fabrics, 40 linings and 350 suit style variants. 
            You have more than 3 million combinations at your disposal!            
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line red">
           <span class="title"><mat-icon>loyalty</mat-icon> Quality</span>
           <p>
            <!-- From our Johannesburg workshop and showroom, we deliver made-to-measure suits made from the finest materials. 
            Our fabrics are all natural fibres and originate from the Biella region in Italy, the UK and Switzerland.  -->
            Our suits distinguish themselves from all others through the semi-canvassed finish, which offers beautiful comfort and drape. 
            For the suit connoisseurs, Alexander also offer a full-canvas finish with hand stitched button holes.
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line green">
           <span class="title"><mat-icon>people_outliner</mat-icon> Professionalism</span>
           <p>
            We take more time with our customers, providing them with advice and getting to know them well. 
            It is not about the quick sale, but the life-long rapport that we nurture and grow. 
            <!-- <br><br>The way a garment fits strongly influences one’s body language. At Alexander Suits we pride ourselves in dressing you the way that it “suits” you, as we match your taste and style to your body type and character, giving you the confidence to look and feel your best. Take our advice.
            <br><br>It all starts with an appointment.  -->
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line orange">
           <span class="title"><mat-icon>star_border</mat-icon> Convenience</span>
           <p>
            Utilising digital technology, we can construct your individual pattern time after time. 
            Our customers can therefore comfortably re-order without having to come in to the showroom every time. 
            <!-- Our dedicated sales team accompany you through the process of designing your new wardrobe and alleviate the stress of mall-hopping. 
            It is now easier to order with Alexander Suits (Check out our Online Shop). -->
           </p>
         </div>
       </div>
     </div>
   </div>

   <div class="home-info" style="">
     <div class="overlay">

     </div>
     <div class="container home-info-inner">
       <div class="row">
         <!-- <div class="col-sm-8 hiddenOnMobile">

         </div> -->
         <div class="col-sm-12">
           <h3>Why we are special.</h3>
           <button mat-menu-item><mat-icon>done_all</mat-icon> Personal climate control: A woolen suit regulates your body temperature. When the day is warm, wool absorbs body moisture and transfers it away from your skin. On a cool day, the wool retains your body heat keeping you cozy. </button>
           <button mat-menu-item><mat-icon>done_all</mat-icon> You can still measure yourself</button>
           <button mat-menu-item><mat-icon>done_all</mat-icon> We are environmentally friendly </button>
           <button mat-menu-item><mat-icon>done_all</mat-icon> Always giving 100% </button>
           <button mat-menu-item><mat-icon>done_all</mat-icon> Sleep is for the weak </button>
           <button mat-menu-item><mat-icon>done_all</mat-icon> Not made in China </button>
         </div>
       </div>
     </div>

   </div>

   <div class="home-more-info">
     <div class="container">
       <div class="row">
         <div class="col-md-8">
           <h2>Only The Highest Quality that is Available on Market</h2><br /><br />
           <div class="col-md-7">
             <p>
               Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="get-started">
     <div class="overlay">

     </div>
     <div class="get-started-inner">
       <div class="container">
         <h2>Not sure where to begin?</h2><hr /><br /><br />
         <div class="row">
           <div class="col-sm-6">
             <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Suit Builder</mat-card-title>
                <mat-card-subtitle>Customize your suit online</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/build-suit.jpg">
              <mat-card-content>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum magna at mauris dignissim consectetur. Nunc magna erat, volutpat non elementum ut, fermentum consequat nunc. Suspendisse at nunc at sem mollis pretium nec sed enim. Aenean a augue euismod tortor aliquet blandit.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>GET STARTED</button>
              </mat-card-actions>
            </mat-card>
           </div>

           <div class="col-sm-6">
               <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Contact Us</mat-card-title>
                  <mat-card-subtitle>Arrange a meeting to get your suit personally tailored</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/call-us.jpg">
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum magna at mauris dignissim consectetur. Nunc magna erat, volutpat non elementum ut, fermentum consequat nunc. Suspendisse at nunc at sem mollis pretium nec sed enim. Aenean a augue euismod tortor aliquet blandit.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>CALL</button>
                  <button mat-button>EMAIL</button>
                </mat-card-actions>
              </mat-card>
           </div>
         </div>
       </div>
     </div>
   </div>

  <!-- TODO: fix for mobile -->
   <div class="testimonials">
     <div class="container">
       <h1>What our clients say</h1><br><br> 
       <owl-carousel
          [options]="testimonialOptions"
          [items]="testimonials"
          [carouselClasses]="['owl-theme', 'sliding']">
          <div class="item" *ngFor="let t of testimonials;">
            <div class="item-outer">
              <div class="testimonial-item">
                <p class="testimonial-text">
                  {{t.text}}
                </p>
                <h4>{{t.name}}</h4>
                <h6>{{t.title}}</h6>
              </div>
              <!-- <mat-card class="t-card">
               <mat-card-header>
                 <mat-card-title>{{t.name}}</mat-card-title>
                 <mat-card-subtitle>says:</mat-card-subtitle>
               </mat-card-header>
               <mat-card-content>
                 <p class="t-p">
                  {{t.text}}
                 </p>
               </mat-card-content>
              </mat-card> -->
            </div>
          </div>
        </owl-carousel><br> 
     </div>
   </div>


</div>
