<div style="text-align:center">
    <owl-carousel
       [options]="{items: 1, dots: false, navigation: false, autoPlay: true, goToFirst: true}"
       [items]="images"
       [carouselClasses]="['owl-theme', 'sliding']">
       <div class="item" *ngFor="let image of images;">
           <!-- <div class="thumbnail-image" [ngStyle]=giefImages(image) class="owl-custom-item"></div> -->
           <img src="{{image}}" />
       </div>
   </owl-carousel>

   <div class="welcome container">
     <h1>We Provide Top Quality Anything Really.</h1>

     <div class="welcome-inner row">
       <div class="col-md-3 col-sm-6">
         <div class="top-line blue">
           <span class="title"><md-icon>check_circle</md-icon> Quality</span>
           <p>
             Lorem impsum dolor sit amet. Quantus egor iplus davai. Made from real people leather.
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line red">
           <span class="title"><md-icon>loyalty</md-icon> Best Results</span>
           <p>
             Lorem impsum dolor sit amet. Quantus egor iplus davai. For enough money, anything is possible.
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line green">
           <span class="title"><md-icon>people_outline</md-icon> Professionalism</span>
           <p>
             Lorem impsum dolor sit amet. Quantus egor iplus davai. We kill anyone who says otherwise!
           </p>
         </div>
       </div>
       <div class="col-md-3 col-sm-6">
         <div class="top-line orange">
           <span class="title"><md-icon>star_border</md-icon> Experience</span>
           <p>
             Lorem impsum dolor sit amet. Quantus egor iplus davai. We are over 900 million centuries old.
           </p>
         </div>
       </div>
     </div>
   </div>


</div>
