@import '../../../styles/colours.scss';

.banner-image-1 {
    background-image: url("../../../assets/image_1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    .banner-image-text{
        margin-top: 12.5em;
        padding: 3.125em;
        text-align: center;
        button {
            background-color: $c-brown-accent;
            color: white;
            padding: 1.25em 2.75em;
            margin-top: 2em;
            text-transform: uppercase;
            font-size: 0.75em;
            letter-spacing: 0.125em;
            border: none;
        }
    }
}
.banner-image-2 {
  @extend .banner-image-1;
  background-image: url("../../../assets/image_2.png");  
  .banner-text {
    margin-top: 12.5em;    
    padding: 1em 3.125em;
  }
}
.banner-image-3 {
  @extend .banner-image-2;
  background-image: url("../../../assets/image_3.png");  
}
.banner-image-4 {
  @extend .banner-image-2;
  background-image: url("../../../assets/image_4.png");  
}
.banner-image-5 {
  @extend .banner-image-2;
  background-image: url("../../../assets/image_5.png");  
}
.client-testimonials {
  background-color: $c-blue-main;
  padding: 5em;
  text-align: center;
  .testimonial {
    font-size: 1.2em;
    font-weight: 100;
  }
}
.arrange-meeting {
  h1 {
    font-size: 2em;
  }
  background-color: $c-brown-accent;
  padding: 4em;
  text-align: center;
  button {
    background-color: $c-blue-main;
    color: white;
    padding: 1.25em 3.75em;
    margin-top: 2em;
    text-transform: lowercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border: none;
    .fa {
      padding-right: 1.5em;
    }
  }
}
.ready-begin {
  @extend .arrange-meeting;
  background-color: $c-brown-main;
  .fa {
    padding-right: 0em !important;
    padding-left:  1.5em;
  }  
}
.newsletter {
  background-color: $c-blue-main;
  padding: 6em;
  text-align: center;
  /* forces all inputs, textareas and labels to use border-box sizing*/
  input,
  textarea, label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } 

  /* default input styling*/
  .o-input {
      position: relative;
      margin-top: 1em;
  }
  .o-input__text {
      font-size: 1.1em;
      color: $c-brown-accent;
      padding:  0.625em 0.625em 0.625em 0.3125em;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 0.0625em solid $c-brown-accent;
      &:focus {
          outline: none;
      }
      resize: none;
  }
  .o-input__label {
      color: $c-brown-accent;
      font-size: 0.75em;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0.3125em;
      top: 0.625em;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      letter-spacing: 0.0625em;
  }
  /* active state */
  .o-input__text:focus ~ .o-input__label,
  .o-input__text:valid ~ .o-input__label,
  .o-input__textarea:focus ~ .o-input__label,
  .o-input__textarea:valid ~ .o-input__label {
      top: -1.25em;
      font-size: 0.75em;
      color: $c-brown-accent;
  }
  /* bottom bar */
  .o-input__bar {
      position: relative;
      display: block;
      width: 13.5em;
  }
  .o-input__bar:before,
  .o-input__bar:after {
      content: "";
      height: 0.0625em;
      width: 0;
      bottom: 0.0625em;
      position: absolute;
      background: $c-blue-main;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
  }
  .o-input__bar:before {
      left: 50%;
  }
  .o-input__bar:after {
      right: 50%;
  }
  /* active state */
  .o-input__text:focus ~ .o-input__bar:before,
  .o-input__text:focus ~ .o-input__bar:after,
  .o-input__textarea:focus ~ .o-input__bar:before,
  .o-input__textarea:focus ~ .o-input__bar:after {
      width: 50%;
  }

  /* box outline */
  .o-input__text--box {
      @extend .o-input__text;
      border:0.0625em solid $c-brown-accent;
      background-color: $c-blue-main;
      border-radius: 0em;
      padding-left: 1em;
      &:focus {
          border: 0.0625em solid $c-brown-accent;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
      }
  }
  .o-input__label--box {
      @extend .o-input__label;
      left: 1em;
      top: 1em;
  }
  .o-input__text--box:focus ~ .o-input__label,
  .o-input__text--box:valid ~ .o-input__label, {
      top: -0.7em;
      font-size: 0.75em;
      font-weight: 500;
      color: $c-brown-accent;
      background-color: $c-blue-main;
      padding-left: 0.625em;  
      padding-right: 0.625em;   
  }  
}
.signup-button {
  background-color: $c-brown-accent;
  color: white;
  padding: 0.6em 3.75em;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  border: none;
  border-radius: 0% !important;
  margin-top: 1.3em;
  margin-left: -5em;
}


// Mobile View
@media (min-width: 320px) and (max-width: 480px) {
    .banner-image-1 {
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
    .padding-left-sm {
        padding-left: 3em !important;
    }
    h1 {
        font-size: 2em;
    }
    .testimonial {
        padding: 0em !important;
        margin: 0em !important;
        font-size: 0.75em !important;
    }
    .description-sm {
        padding: 0em !important;
        margin: 0em !important;
    }
    .arrange-meeting button {
        padding: 1.25em 2.75em !important;
        width: 100%;
    }
    .o-input__text--box {
        width: 100% !important;
    }
    .newsletter {
        padding: 3em !important;
    }
    .signup-button {
        width: 100% !important;
        margin-left: 0.2em;
    }
}

// Tablet View
@media (min-width: 768px) and (max-width: 1024px) {
    .banner-image-1 {
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
    h1 {
        font-size: 2em;
    }
    .testimonial {
        padding: 0em !important;
        margin: 0em !important;
        font-size: 0.75em !important;
    }
}
  