
.owl-theme .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-slide-custom{
  height: 700px;
  width: 100%;
  background-attachment: center center;
  background-repeat: no-repeat;
}

.welcome {
  padding-top: 80px;
  padding-bottom: 100px;
  h1{
    // text-transform: uppercase;
  }
}

.welcome-inner {
  margin-top: 100px;

  .top-line.orange{
    border-top: 3px solid #ff9800;
    &:hover {
      background-color: #ff9800;
    }
    .mat-icon {
      color: #ff9800;
    }
  }
  .top-line.blue{
    border-top: 3px solid #2196f3;
    &:hover {
      background-color: #2196f3;
    }
    .mat-icon {
      color: #2196f3;
    }
  }
  .top-line.green{
    border-top: 3px solid #4caf50;
    &:hover {
      background-color: #4caf50;
    }
    .mat-icon {
      color: #4caf50;
    }
  }
  .top-line.red{
    border-top: 3px solid #f44336;
    &:hover {
      background-color: #f44336;
    }
    .mat-icon {
      color: #f44336;
    }
  }

  .top-line {
    .mat-icon {
      transition: color 0.1s ease-in;
    }
    padding: 40px 5px 50px 5px;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      span, p, .mat-icon {
        transition: all 0.3s ease-in;
        color: white;
      }
      .mat-icon {
        transform: scale(1.25);
      }
      cursor: pointer;
    }
    .mat-icon {
      height: 28px;
      width: 28px;
    }
    .material-icons, span {
      vertical-align: middle;
    }
    .title {
      font-size: 1.5rem;
    }
    p {
      margin-top: 20px;
      transition: all 0.3s;
      color: grey;
    }
  }

}

.home-info {
  position: relative;
  width: 100%;
  background: url('/assets/coats.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 585px;
  overflow: hidden;
  color: white;
  text-align: left;

  .home-info-inner {
    padding-top: 100px;
  }

  h3 {
    margin-bottom: 30px;
  }

  .mat-icon {
    color: #830024;
  }
  button.mat-menu-item {
    color: white;
  }
}


.home-more-info {
  background: url('/assets/test.jpg') center center;
  background-attachment: fixed;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 80px;
  h2 {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 38px;
    border-left: 4px solid #830024;
  }

  p {
    padding-left: 30px;
    text-align: left;
    font-size: 18px;
    color: #A6A6AD;
  }
}

.get-started-inner {
  text-align: left;
  // background-color: #830024;
  background: url('/assets/suit-wall.jpg') center center;
  // border-top: 5px solid #830024;
  padding-top: 40px;
  padding-bottom: 80px;
  hr {
    border-top: 2px dashed white;
  }
  h2 {
    text-align: center;
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mat-card-actions{
    text-align: center;
  }
}
