<div style="padding-top: 60px; padding-bottom: 100px;" class="container" *ngIf="!isLoading">
  <div *ngIf="paymentOptions" style="text-align: center;">
    <h1>Payment Methods</h1><hr />
    <h4 *ngIf="paymentStatus">{{paymentStatus}}</h4>
    <p *ngIf="paymentSubstring">{{paymentSubstring}}</p>
    <div class="payment-options">
      <div class="row">
        <div class="col-sm-6" *ngFor="let option of paymentOptions">
          <a (click)="selectOption(option.method)"><div class="card-1">
            <div class="payment-img ">
              <img src="{{option.icon}}"/>
            </div>
            <h3>{{option.display_name}}</h3>
            <p>
              {{option.display_description}}
            </p>
          </div></a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!paymentOptions" style="text-align: center;">
    <h4 *ngIf="paymentStatus">{{paymentStatus}}</h4>
    <p *ngIf="paymentSubstring">{{paymentSubstring}}</p>
  </div>
</div>
<div class="loading" *ngIf="isLoading">
  <md-spinner></md-spinner>
</div>
