<div class="row">
    <div class="col-md-12" style="background-color: #696969; height: 30em;">
        <!-- Wizard Visual and Banner -->        
    </div>
</div>
<div class="row">
    <div class="col-md-10" [ngSwitch]="currentWizardStage" style="height: 60em;">
        <suit-builder-fabric *ngSwitchCase="WizardStage.Fabric"></suit-builder-fabric>
        <suit-builder-design *ngSwitchCase="WizardStage.Design"></suit-builder-design>
        <suit-builder-finer-details *ngSwitchCase="WizardStage.FinerDetails"></suit-builder-finer-details>
        <suit-builder-measurements *ngSwitchCase="WizardStage.Measurements"></suit-builder-measurements>
    </div>
    <div class="col-md-2" style="background-color: #C0C0C0; height: 60em;">
        <!-- Options Chosen Visual -->
    </div>
</div>
