
//CUSTOM COLOURS:

$c-brown-main: #93421b;
$c-brown-accent: #ba7242;
$c-brown-light: #efd0B5;

$c-blue-main: #01021a;
$c-red-accent: #eb5757;

$c-main: #830024;
$c-grey-lite: #919191;
$c-grey: #232323;
$c-accent: #ba7242;
