//MAIN STYLES FOR ALEXANDER SUITS

body {
  margin: 0px;
}


.toolbar-right {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.toolbar-centered {
  flex: 1 1 auto;
  text-align: center;
}

.alex-header {
  // height: 100px;
  color: #a28750;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;


  .call-text {
    padding-top: 10px;
    .material-icons, span {
      vertical-align: middle;
    }
  }

  .social-icons {
    button {
      border: 2px solid #a28750;
    }
    .mat-icon-button .mat-icon, .mat-icon-button i {
        line-height: 20px;
    }
  }
}

.mat-toolbar.mat-primary {
  background: #383435 !important;
  border-bottom: 5px solid #830024;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.alex-logo {
  max-width: 250px;
}

button:focus{
  outline: none;
}

.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
