//MAIN STYLES FOR ALEXANDER SUITS
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'colours.scss';
@import 'theme.scss';

$c-accent: #a28750;
$c-main: #830024;
$c-grey-lite: #919191;
$c-grey: #232323;

/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

html, body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Lato', sans-serif;
}

.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  &.darken {
    background-color: rgba(0,0,0,0.42);
  }
}

.overlay-accent {
  position: absolute;
  background-color: rgba(131,0,36,0.5);
  width: 100%;
  height: 100%;
}

.call-to-action {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 3px solid $c-grey;
  h3{
    font-size: 1.85rem;
    font-weight: 500;
    color: $c-grey;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

button:focus{
  outline: none;
}

.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.showOnMobile {
  display: none;
}

@media (max-width:575px) { /* mobile size */
  .hideOnMobile {
    display: none
  }
  .showOnMobile {
    display: block;
  }
}
