<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2>Enter your Measurements</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-rectangle-designs"></div>
    </div>
    <div class="col-lg-7">
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">HEIGHT (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">CHEST (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">1/2 BACK (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">BICEPS (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">STOMACH (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">SEAT (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row d-flex align-items-end">
            <div class="col-lg-4 ml-5">
                <div class="o-input">      
                    <input class="o-input__text--box" type="text" required>
                    <span class="o-input__bar"></span>
                    <label class="o-input__label--box">THIGH (CM)</label>
                </div>
            </div>
            <div class="col-lg-2 ml-4 d-flex flex-row align-items-center">
                <button class="info-icon"><i class="fa fa-info" aria-hidden="true"></i></button>
                <p class="info-text ml-3">info</p>
            </div>
            <div class="col-lg-3 ml-4 d-flex flex-row align-items-center">
                <button class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></button>
                <p class="video-text ml-3">watch video</p>
            </div>         
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Body Type</p>
        <p class="chosen-style-text">You chose x</p>            
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Basic Measurements</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Extra Measurements</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Upload Photo</p>        
    </div>
</div> 