<div [ngSwitch]="currentDesignStage">
    <suit-builder-design-collar *ngSwitchCase="DesignStage.Collar"></suit-builder-design-collar>
    <suit-builder-design-pockets *ngSwitchCase="DesignStage.Pockets"></suit-builder-design-pockets>
    <suit-builder-design-vents *ngSwitchCase="DesignStage.Vents"></suit-builder-design-vents>
    <suit-builder-design-pant-styles *ngSwitchCase="DesignStage.PantStyles"></suit-builder-design-pant-styles>
    <suit-builder-design-addons *ngSwitchCase="DesignStage.Addons"></suit-builder-design-addons>
</div>