<div>
    <h1>Finer Details</h1>
    <div class="row">
        <div class="col">
                <label><strong>Would you like to add extra details to your suit such as:</strong></label>
                <label>Choosing Buttons</label>
                <label>Contrast Packages</label>
                <label>Stitching Types and Colour</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><strong>If you choose not too, the tailor will choose what will be best.</strong></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-raised-button style="float:left;" (click)="SelectNo()">NO THANKS</button>
            <button mat-raised-button style="float:right;" (click)="SelectYes()">YES!</button>
        </div>
    </div>
</div>