<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2>PAYMENT METHODS</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-7">
        <div class="row mb-4">
            <div class="col-lg-4 fabric-block">
                <img class="img-responsive fabric-swatch" />
                <br>
                <h5>CREDIT/DEBIT CARD</h5>
                <button mat-raised-button class="select-button" (click)="Complete('Credit/Debit Card')">Select</button>
            </div>
            <div class="col-lg-4 fabric-block">
                <img class="img-responsive fabric-swatch" />
                <br>
                <h5>SID INSTANT EFT</h5>
                <button mat-raised-button class="select-button" (click)="Complete('SID INSTANT EFT')">Select</button>
            </div>
            <div class="col-lg-4 fabric-block">
                <img class="img-responsive fabric-swatch" />
                <br>
                <h5>OFFLINE PAYMENT</h5>
                <button mat-raised-button class="select-button" (click)="Complete('OFFLINE PAYMENT')">Select</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <p>
            <i class="fa fa-circle" aria-hidden="true"></i> Finalize your cart </p>
        <p>
            <i class="fa fa-circle-o" aria-hidden="true"></i> Add your details </p>
        <p>
            <i class="fa fa-circle-o" aria-hidden="true"></i> Delivery </p>
        <p>
            <i class="fa fa-circle-o" aria-hidden="true"></i> Complete Order </p>
        <p class="active-link">
            <i class="fa fa-circle-o" aria-hidden="true"></i> Payment </p>
    </div>
</div>