@import '../../../../styles/colours';

.placeholder-circle-designs {
    width: 15em;
    height: 15em;
    border-radius: 10em;
    background-color: $c-blue-main;
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
    border: 1px solid $c-brown-accent;
    padding: 0.5em;
    margin-left: 3em;
}

.option-circle {
    width: 8em;
    height: 8em;
    line-height: 2em;
    border-radius: 4em;    
    background-color: white;
    border: 1px solid $c-brown-accent;
    padding: 0.5em;
    margin-left: 1em;
}

.image-circle {
    text-align: center;
    margin: 1em;
    font-size: 1em;
    .option-circle  {
        margin-bottom: 2em;
    }
}

.active-link {
    font-weight: 400;
    cursor: pointer;
}

.fa {
    margin-right: 1em !important;
}

.fabric-block {
    display: inline-block;
    text-align: center;
    margin: 2em;
    font-size: 1em;
    .fabric-swatch {
        margin-bottom: 2em;
    }
}
.select-button {
    background-color: $c-blue-main;
    color: white;
    padding: 0.3em 5em;
    text-transform: uppercase;
    font-size: 0.6em;
    border: none;
}

.next-button {
    background-color: $c-brown-accent;
    color: white;
    padding: 0.3em 5em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border: none;
}
.back-button {
    background-color: $c-grey-lite;
    color: white;
    padding: 0.3em 5em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hide-mobile {
        visibility: hidden;
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .hide-mobile {
        visibility: hidden;
        display: none !important;
    }
    .hide-info-mobile {
        visibility: hidden;
        display: none !important;
    }
}