
<div #container class="container animated fadeIn" style="padding-top: 60px; padding-bottom: 60px;"  *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
  <div class="measurements-top">
    <h1 id="tabTitle">Measurements</h1>
    <br />

    <div *ngIf="stepperHidden">
      <h4>First, please select the body type that describes you the best</h4>
      <swiper [config]="config" style="box-sizing: border-box">
         <div class="swiper-wrapper">
             <div class="swiper-slide" *ngFor="let body of body_types">
                <img class="swiper-img" src="{{body.img}}" />
                <div class="swiper-text">
                  <h4>{{body.title}}</h4>
                  <p>
                    {{body.desc}}
                  </p>
                </div>
             </div>
             <div class="swiper-slide">
              <img class="swiper-img" src="assets/measurements/8-Unknown.png" />
              <div class="swiper-text">                
                <form class="s-form">
                  <span>Enter a custom description</span>
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="" value="" [(ngModel)]="custom_body" name="custom_body">
                  </mat-form-field>
                </form>
              </div>
           </div>
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
         <!-- Add Arrows -->
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
       </swiper>
       <div class="confirm-button">
         <button mat-raised-button color="primary" (click)="confirmBodyType()">Confirm</button>
       </div>
     </div>
     <div *ngIf="!stepperHidden">
        <div class="confirm-button">
            <button mat-raised-button color="primary" (click)="stepperHidden = true">Re-select Body Type</button>
        </div>
        <div class="stepper-box" [ngClass]="{active: steps[0].display === 'block'|| completed0===true}" id="stepper1">
          <button mat-button (click)="changeStep('0')"><div class="circle">1</div>Basic Measurements</button>
        </div>
        <div class="stepper-inner">
          <div class="contents animated zoomIn" [ngStyle]="steps[0]">

            <h4>Now for some basic measurements</h4>
            <img class="swiper-img" src="assets/measurements/Main-Body-Measurements.png" />
            <div class="measurements-form">
              <form class="s-form">
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Height (cm)" value="" [(ngModel)]="measurements.height" name="height" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('height')">info</mat-icon>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Chest (cm)" value="" [(ngModel)]="measurements.chest" name="chest" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('chest')">info</mat-icon>
                  <mat-hint align="start"><strong>{{oversizeText()}}</strong></mat-hint>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="1/2 Back (cm)" value=""  [(ngModel)]="measurements.halfback" name="halfback" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('halfback')">info</mat-icon>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Biceps (cm)" value="" [(ngModel)]="measurements.biceps" name="biceps" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('biceps')">info</mat-icon>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Stopmach (cm)" value="" [(ngModel)]="measurements.stomach" name="stomach" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('stomach')">info</mat-icon>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Seat (cm)" value="" [(ngModel)]="measurements.seat" name="seat" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('seat')">info</mat-icon>
                </mat-form-field>
                <mat-form-field class="s-full-width">
                  <input matInput placeholder="Thigh (cm)" value="" [(ngModel)]="measurements.thigh" name="thigh" type="number">
                  <mat-icon matSuffix class="hoverIcon" (click)="test('thigh')">info</mat-icon>
                </mat-form-field>
              </form>
            </div>
            <div class="step-buttons">
              {{oversizeText()}}<br><br>
              <button mat-raised-button color="primary" (click)="changeStep('1')">Next</button>
            </div>
          </div>
        </div>
        <div class="stepper-box" [ngClass]="{active: steps[1].display === 'block'}" id="stepper2">
          <button mat-button (click)="changeStep('1')"><div class="circle">2</div>Extra Measurements</button>
        </div>
        <div class="stepper-inner">
          <div class="contents animated zoomIn" [ngStyle]="steps[1]">
            <div *ngIf="hasJacket">
              <h4>You have ordered a jacket, please fill in the extra measurements</h4>
              <img class="swiper-img" src="assets/measurements/Jacket.png" />
              <div class="measurements-form">
                <form class="s-form">
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="Backlength (cm)" value="" [(ngModel)]="measurements.backlength" name="bl" type="number">
                    <mat-icon matSuffix class="hoverIcon" (click)="test('height')">info</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="1/2 Waist (cm)" value="" [(ngModel)]="measurements.halfwaist" name="halfwaist" type="number">
                    <mat-icon matSuffix class="hoverIcon" (click)="test('chest')">info</mat-icon>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div *ngIf="hasJacket && hasTrousers">
              <hr />
            </div>
            <div *ngIf="hasTrousers">
              <h4>You have ordered trousers, please fill in the extra measurements</h4>
              <div class="measurements-form">
                <p>
                  Without any trousers on while wearing a pair of shoes, do the following measurements
                </p>
                <img class="swiper-img" src="assets/measurements/Trousers-02.png" />
                  <form class="s-form">
                    <mat-form-field class="s-full-width">
                      <input matInput placeholder="Waist (cm)" value="" [(ngModel)]="measurements.waist" name="waist" type="number">
                      <mat-icon matSuffix class="hoverIcon" (click)="test('height')">info</mat-icon>
                      <mat-hint align="start"><strong>{{oversizeText()}}</strong></mat-hint>
                    </mat-form-field>
                    <mat-form-field class="s-full-width">
                      <input matInput placeholder="Outside Seamline (cm)" value="" [(ngModel)]="measurements.outside_seamline" name="os" type="number">
                      <mat-icon matSuffix class="hoverIcon" (click)="test('chest')">info</mat-icon>
                    </mat-form-field>

                  </form>
                </div>
              <hr />
              <p>
                With a pair of well fitting trousers on, do the following measurements
              </p>
              <img class="swiper-img" src="assets/measurements/Trousers-01.png" />
              <div class="measurements-form">
                <form class="s-form">
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="Waist (cm)" value="" [(ngModel)]="measurements.waist" name="waist" type="number">
                    <mat-icon matSuffix class="hoverIcon" (click)="test('height')">info</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="Inside Seamline (cm)" value="" [(ngModel)]="measurements.inside_seamline" name="is" type="number">
                    <mat-icon matSuffix class="hoverIcon" (click)="test('chest')">info</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="s-full-width">
                    <input matInput placeholder="Outside Seamline (cm)" value="" [(ngModel)]="measurements.outside_seamline2" name="os2" type="number">
                    <mat-icon matSuffix class="hoverIcon" (click)="test('chest')">info</mat-icon>
                  </mat-form-field>

                </form>
              </div>
            </div>
            <div *ngIf="!hasTrousers && !hasJacket">
              <h4>You don't need any additional measurements for your order, proceed to the next step</h4>
            </div>
            <div class="step-buttons">
              {{oversizeText()}}<br><br>
              <button mat-raised-button color="primary" (click)="changeStep('2')">Next</button>
            </div>
          </div>
        </div>
        <div class="stepper-box" [ngClass]="{active: steps[2].display === 'block'}" id="stepper3">
          <button mat-button (click)="changeStep('2')"><div class="circle">3</div>Upload Photo</button>
        </div>
        <div class="stepper-inner">
          <div class="contents animated zoomIn" [ngStyle]="steps[2]">
              <div style="text-align: left;">
                <h3>Upload a photo</h3>
                <p>Take a picture of yourself and select it below.</p>
                <td-file-upload accept=".jpg, .png, .jpeg" defaultColor="primary" activeColor="warn" cancelColor="primary" #singleFileUpload
                (select)="selectEvent($event)" (cancel)="cancelEvent()"  [(disabled)]="uploading" >
                  <mat-icon>file_upload</mat-icon><span>1 file selected</span>
                  <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon><span>Choose a file...</span>
                  </ng-template>
                </td-file-upload>
              </div>
            <div class="step-buttons">
              <br>
              <button mat-raised-button color="primary" (click)="next()">Done</button>
            </div>
          </div>
        </div>

      </div>

 </div>
</div>
