<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2>Choose a fabric for the suit</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p>Use the Filters below to help decide on a fabric</p>
    </div>
</div>
<div class="row filter">
    <div class="col-lg-2">
        <mat-form-field xPosition="after" yPosition="below">
            <mat-select placeholder="OCCASSION" [(value)]="selectedOccassionType">
                <mat-option value="">All</mat-option>   
                <mat-option *ngFor="let occassionType of occassionTypes" [value]="occassionType">{{occassionType}}</mat-option>      
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field xPosition="after" yPosition="below">
            <mat-select placeholder="PATTERN" [(value)]="selectedPatternType">
                <mat-option value="">All</mat-option>   
                <mat-option *ngFor="let patternType of patternTypes" [value]="patternType">{{patternType}}</mat-option>                                      
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field xPosition="after" yPosition="below">
            <mat-select placeholder="FABRIC" [(value)]="selectedFabricType">
                <mat-option value="">All</mat-option>   
                <mat-option *ngFor="let fabricType of fabricTypes" [value]="fabricType">{{fabricType}}</mat-option>       
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-4 colour-filter d-flex flex-row-reverse">
        <button class="circle"></button>
        <button class="circle"></button>
        <button class="circle"></button>
        <button class="circle"></button>
        <button class="circle"></button>
        <button class="circle"></button>
        <p>Colour</p>        
    </div>
    <div class="col-lg-2">
        <mat-form-field xPosition="after" yPosition="below">
            <mat-select placeholder="PRICE" [(value)]="isPriceHighToLow">
                <mat-option value="1"> High to Low </mat-option>
                <mat-option value="0"> Low to High </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 circle-column">
        <div class="placeholder-circle"></div>
        <div class="left-circle-text">
            <h6>You have chosen:</h6>
            <p>Fabric Name</p>
            <p>decription OR advise on why to choose this one</p>
            <p>add more info or details here about the chosen item</p> 
        </div>
    </div>
    <div class="col-lg-2 fabric-block">
        <img class="img-responsive fabric-swatch" src="../../../../../assets/red.jpg"/>  
        <br>
        <p>Fabric Name</p>
        <p>decription OR advise on why to choose this one</p>
        <p>R 498</p>
        <button mat-raised-button>Select</button>  
    </div>    
    <div class="col-lg-2 fabric-block">
        <img class="img-responsive fabric-swatch" src="../../../../../assets/red.jpg"/>  
        <br>
        <p>Fabric Name</p>
        <p>decription OR advise on why to choose this one</p>
        <p>R 498</p>
        <button mat-raised-button>Select</button>  
    </div>   
    <div class="col-lg-2 fabric-block">
        <img class="img-responsive fabric-swatch" src="../../../../../assets/red.jpg"/>  
        <br>
        <p>Fabric Name</p>
        <p>decription OR advise on why to choose this one</p>
        <p>R 498</p>
        <button mat-raised-button>Select</button>  
    </div>        
</div>