@import '../../../../../styles/colours';

// .row {
//     margin: 4em;
// }

.circle {
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    border: 1px solid $c-brown-accent;
    background-color: $c-brown-accent;
    margin-left: 1em;
}
.colour-label-text{
    color: $c-blue-main;
    text-transform: uppercase;
}

.placeholder-circle {
    width: 20em;
    height: 20em;
    border-radius: 10em;
    border: 1px solid $c-blue-main;
    background-color: $c-blue-main;
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
}
.left-circle-text {
    text-align: center;
    margin: 4em;
    font-size: 1em
}

.fabric-block {
    text-align: center;
    margin: 2em;
    font-size: 1em;
    .fabric-swatch {
        margin-bottom: 2em;
    }
}

.circle-column {
    margin-right: 6em;
}

.brown {
    background-color: #E39E6F;
}

.light-blue {
    background-color: #73C3F0;
}

.red {
    background-color: #EB5757;
}

.purple {
    background-color: #61318F;
}

.blue {
    background-color: #111373;
}

.black {
    background-color: #01021A;
}

.filter-background .mat-select-content {
    background: $c-blue-main;
}
  
.filter-background .mat-option-text {
    color: #fff;
    font-weight: 200;
    font-size: 0.875em;
}

.mat-form-field-infix {
    display: none;
    padding-top: 0.4375em;
}
.mat-form-field-wrapper {
    border: 0.0875em solid $c-blue-main;
    padding: 1em;
}
.mat-form-field-underline {
    display: none;
}
.mat-form-field {
    font-size: 0.75em;
    color:  $c-blue-main;
    font-weight: 400;
}
.mat-select-disabled .mat-select-value, .mat-select-arrow {
    color:  $c-blue-main;    
}

.select-button {
    background-color: $c-blue-main;
    color: white;
    padding: 0.5em 4em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border: none;
}
.next-button {
    background-color: $c-brown-accent;
    color: white;
    padding: 0.5em 4em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border: none;
}