@import '../../../styles/colours.scss';

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.copyright {
  margin-left: 5em;
  color: $c-brown-accent;
  margin-left: 5em;
  letter-spacing: 0.1em;
  font-size: 0.725em;
}