<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-logo-box">
          <img class="img-responsive alex-logo-alt" src="assets/alex-logo-alt.png" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="footer-title">
          How may we be of service?
        </p>
        <button md-menu-item> Disclaimer </button>
        <button md-menu-item> T&amp;C's </button>
        <button md-menu-item> Privacy </button>
        <button md-menu-item routerLink="contact"> Contact Us </button>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="footer-title">
          Site Navigation
        </p>
          <button md-menu-item routerLink="home"> Home </button>
          <button md-menu-item> About </button>
          <button md-menu-item> Suits </button>
          <button md-menu-item> Accessories </button>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="footer-title">
          Newsletter Sign up
        </p>
        <br />
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter email...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">></button>
          </span>
        </div>
      </div>
    </div>

    <div class="call-us container">
        <span><b>CONTACT CENTRE:</b></span> <button md-button><span style="font-size: 20px ">011 492 33604</span></button>
    </div>

    <div class="copyright">
      Copyright 2017 Alexander Suits (Pty) Ltd - All Rights Reserved
    </div>
  </div>
</div>
