.footer {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #232323 !important;
  border-top: 5px solid #830024;
  .form-control {
    border: 1px solid rgba(255, 255, 255, 255);
    background: rgba(0,0,0,0);
    color: #ddd;
  }

  .btn {
    background-color: rgba(255, 255, 255, 0.3);;
    color: white;
  }
}

.footer-image {
  background-image: url('http://placehold.it/550x200');
  background-size: cover;
  height: 200px;
  background-position: center;
}

.footer-title {
  font-size: 15px;
  color: white;
}


.mat-menu-item {
  color: #919191;
}

.call-us {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 6  0px;
  margin-bottom: 40px;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  font-size: 20px;
  color: #919191 !important;
  b{
    color: #725d3d;
  }
  button.mat-button {
    transform: translateY(-5px);
  }
}

.footer-logo-box{
  padding-left: 15px;
  padding-right: 15px;
}

.copyright {
  text-align: center;
  color: #919191;

}
