<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>Choose a lining for the jacket</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Use the Filters below to help decide on a fabric</p>
    </div>
</div>
<div class="row filter m-xl-5 mt-md-5 pb-5  d-flex flex-row-reverse">
    <div class="col-md-2 col-sm-12">
        <mat-form-field class="dropdown">
            <mat-select placeholder="PATTERN" disableRipple panelClass="filter-background" [(ngModel)]="selectedPatternType" (ngModelChange)="FilterLinings()">
                <mat-option value="">All</mat-option>
                <mat-option value="Plain">
                    <i class="fa fa-square" aria-hidden="true"></i> Solid (Plain) </mat-option>
                <mat-option value="Other">
                    <i class="fa fa-th-large" aria-hidden="true"></i> Subtle / Pattern </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12 d-flex flex-row-reverse pt-3">
        <span matTooltip="All Colours" matTooltipPosition="above">
            <button class="circle white" (click)="selectedColourType = ''; FilterLinings()"></button>
        </span>
        <span matTooltip="Black" matTooltipPosition="above">
            <button class="circle black" (click)="selectedColourType = 'blackColourTypes'; FilterLinings()"></button>
        </span>
        <span matTooltip="Blue" matTooltipPosition="above">
            <button class="circle blue" (click)="selectedColourType = 'darkBlueColourTypes'; FilterLinings()"></button>
        </span>
        <span matTooltip="Burgundy" matTooltipPosition="above">
            <button class="circle burgundy" (click)="selectedColourType = 'purpleColourTypes'; FilterLinings()"></button>
        </span>
        <p class="colour-label-text">Colour</p>
    </div>
</div>
<div class="row ml-xl-5 ml-md-5 mt-5">
    <div class="col-xl-3 col-md-10 circle-column">
        <div class="row d-flex justify-content-center">
            <div class="placeholder-circle" [ngStyle]="{'background': isSelectedLining ? 'url(' + selectedLining.image_urls[0] + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedLining">
                <h4>You have chosen:</h4>
                <h5>{{selectedLining.name}}</h5>
                <p>{{selectedLining.description_long}}</p>        
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12 mt-md-2">
        <div class="row d-flex align-items-start">
            <owl-carousel style="width: 100% !important;" [options]="{
                        items: 1,
                        dots: true,
                        navigation: true,
                        autoplay: false,
                        loop: false, nav: true}" [carouselClasses]="['owl-theme', 'sliding']" [items]="carousels">
                <div class="item" *ngFor="let carousel of carousels">
                    <div class="col-lg-3 col-md-3 col-sm-3 fabric-block align-self-start" *ngFor="let lining of filteredLinings.slice(((carousel-1) * 6), (carousel * 6))">
                        <img class="img-responsive fabric-swatch" [src]="lining.image_urls[0]" />
                        <br>
                        <h5>{{lining.name}}</h5>
                        <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>
                    </div>
                </div>
            </owl-carousel>
            <div class="col-md-9" *ngIf="filteredLinings.length === 0">
                <p>{{ linings.length > 0 ? "There are currently no fabrics with those filters. Please filter differently." :
                    "There are currently no fabrics." }}</p>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-lg-6 col-md-5 col-sm-12 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>
            </div>
        </div>
    </div>
</div>