<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>Add-Ons</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-7">
        <div class="row mb-4">
            <div class="col-lg-4 col-md-4 col-sm-4 image-circle">
                <h4>Extra Pants</h4>
                <img class="img-responsive option-circle"/>  
                <br>
                <mat-checkbox [checked]="isExtraPantsSelected" (change)="isExtraPantsSelected = !isExtraPantsSelected"><h5> Add Extra Pants</h5></mat-checkbox>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 image-circle">
                <h4>Waistcoat</h4>
                <img class="img-responsive option-circle"/>  
                <br>
                <mat-checkbox [checked]="isWaisteCoatSelected" (change)="isWaisteCoatSelected = !isWaisteCoatSelected"><h5> Add Waistcoat</h5></mat-checkbox>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>  
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>  
            </div>
        </div>
    </div>  
    <div class="col-lg-2 hide-mobile">
        <button class="help-button">i need help choosing</button>
        <p class="active-link" (click)="suitBuilderService.SetDesignStage.emit(DesignStage.Collar)"><i class="fa fa-circle" aria-hidden="true"></i>Jacket Collar Style</p>
        <p class="chosen-style-text">{{ currentSuit.collar && currentSuit.collar.name ? "You chose style " + currentSuit.collar.name : "Please Choose a Style" }}</p>
        <p class="active-link" (click)="suitBuilderService.SetDesignStage.emit(DesignStage.Pockets)"><i class="fa fa-circle" aria-hidden="true"></i> Jacket Pockets</p>
        <p class="chosen-style-text">{{ currentSuit.pockets && currentSuit.pockets.name ? "You chose style " + currentSuit.pockets.name : "Please Choose a Style" }}</p>       
        <p class="active-link" (click)="suitBuilderService.SetDesignStage.emit(DesignStage.Vents)"><i class="fa fa-circle" aria-hidden="true"></i> Jacket Vents</p>
        <p class="chosen-style-text">{{ currentSuit.vents && currentSuit.vents.name ? "You chose style " + currentSuit.vents.name : "Please Choose a Style" }}</p>       
        <p class="active-link" (click)="suitBuilderService.SetDesignStage.emit(DesignStage.PantStyles)"><i class="fa fa-circle" aria-hidden="true"></i> Pants</p>
        <p class="chosen-style-text">{{ currentSuit.pantPleat && currentSuit.pantPleat.name ? "You chose style " + currentSuit.pantPleat.name : "Please Choose a Style" }}</p>
        <p class="chosen-style-text">{{ currentSuit.pantBackPocket && currentSuit.pantBackPocket.name ? "You chose style " + currentSuit.pantBackPocket.name : "Please Choose a Style" }}</p>   
        <p class="chosen-style-text">{{ currentSuit.pantCuff && currentSuit.pantCuff.name ? "You chose style " + currentSuit.pantCuff.name : "Please Choose a Style" }}</p>            
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Add-ons : Pants/Waistcoat</p>        
    </div>     
</div>