<div class="row mt-5 pt-5">
        <div class="col-lg-12 d-flex justify-content-center">
            <h2>Choose button styles</h2>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
            <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
        </div>
    </div>
    <div class="row ml-5 mt-5">
        <div class="col-lg-3">
            <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedLining ? 'url(' + selectedLining.image_urls[0] + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedLining">
                <h4>You have chosen:</h4>
                <h5>{{selectedLining.name}}</h5>
                <p>{{selectedLining.description_long}}</p>
                <p>add more info or details here about the chosen item</p> 
            </div>
        </div>
        <div class="col-lg-7">
            <h4>Choose Button Holes</h4>
            <div class="row mb-4">
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Button Name</h5>
                    <p>Button Description</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Button Name</h5>
                    <p>Button Description</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
            </div>
        </div>  
        <div class="col-lg-2">
            <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Buttons</p>
            <p><i class="fa fa-circle-o" aria-hidden="true"></i> Custom Packages </p>       
        </div>     
    </div>
    <hr>
    <div class="row ml-5 mt-5">
        <div class="col-lg-3">
            <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedLining ? 'url(' + selectedLining.image_urls[0] + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedLining">
                <h4>You have chosen:</h4>
                <h5>{{selectedLining.name}}</h5>
                <p>{{selectedLining.description_long}}</p>
                <p>add more info or details here about the chosen item</p> 
            </div>
        </div>
        <div class="col-lg-7">
            <h4>Boutonnerie</h4>
            <div class="row mb-4">
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Boutonnerie Name</h5>
                    <p>Boutonnerie Description</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Boutonnerie Name</h5>
                    <p>BoutonnerieDescription</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
            </div>
        </div>  
    </div>
    <hr>
    <div class="row ml-5 mt-5">
        <div class="col-lg-3">
            <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedLining ? 'url(' + selectedLining.image_urls[0] + ')' : ''}"></div>
            <div class="left-circle-text" *ngIf="isSelectedLining">
                <h4>You have chosen:</h4>
                <h5>{{selectedLining.name}}</h5>
                <p>{{selectedLining.description_long}}</p>
                <p>add more info or details here about the chosen item</p> 
            </div>
        </div>
        <div class="col-lg-7">
            <h4>Last Button Sleeve</h4>
            <div class="row mb-4">
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Button Sleeve     Name</h5>
                    <p>Button Sleeve     Description</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
                <div class="col-lg-3 image-circle">
                    <img class="img-responsive option-circle" href="../../../../../assets/suit-builder/collars/collar-v1"/>  
                    <br>
                    <h5>Button Sleeve     Name</h5>
                    <p>Button Sleeve     Description</p>
                    <p class="pricing">R 200</p>
                    <button mat-raised-button class="select-button" (click)="SelectLining(lining)">Select</button>  
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 d-flex justify-content-start">
                    <button mat-raised-button class="back-button" (click)="Previous()">Back</button>  
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <button mat-raised-button class="next-button" (click)="Next()">Next</button>  
                </div>
            </div>
        </div>  
    </div>