<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>Choose your pant styles</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedPantPleat ? 'url(' + selectedPantPleat.url + ')' : ''}"></div>
        <div class="left-circle-text" *ngIf="isSelectedPantPleat">
            <h4>You have chosen:</h4>
            <h5>{{ selectedPantPleat.name }}</h5>
            <p>{{ selectedPantPleat.description_long }}</p>
            <p>add more info or details here about the chosen item</p>
        </div>
    </div>
    <div class="col-lg-7">
        <h4>Choose Pant Pleats</h4>
        <div class="row">
            <div class="col-lg-3 image-circle mb-4" *ngFor="let pantPleat of pantPleatsMock">
                <img class="img-responsive option-circle" src="{{ pantPleat.url }}" />
                <br>
                <h5>{{ pantPleat.name }}</h5>
                <p>{{ pantPleat.desc }}</p>
                <button mat-raised-button class="select-button" (click)="SelectPantPleat(pantPleat)">Select</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="help-button">i need help choosing</button>
         <!-- COMMENTED OUT FOR NOW -->
        <!-- <p class="active-link" (click)="pantsBuilderService.SetDesignStage.emit(DesignStage.Collar)"><i class="fa fa-circle" aria-hidden="true"></i>Jacket Collar Style</p>
        <p class="chosen-style-text">You chose style {{ currentSuit.collar.name }}</p>
        <p class="active-link" (click)="pantsBuilderService.SetDesignStage.emit(DesignStage.Pockets)"><i class="fa fa-circle" aria-hidden="true"></i> Jacket Pockets</p>
        <p class="chosen-style-text">You chose style {{ currentSuit.pockets.name }}</p>
        <p class="active-link" (click)="pantsBuilderService.SetDesignStage.emit(DesignStage.Vents)"><i class="fa fa-circle" aria-hidden="true"></i> Jacket Vents</p> -->
        <p class="chosen-style-text">You chose style {{ currentSuit.vents.name }}</p>
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Pants</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Add-ons : Pants/Waistcoat</p>
    </div>
</div>
<hr>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedPantPocket ? 'url(' + selectedPantPocket.url + ')' : ''}"></div>
        <div class="left-circle-text" *ngIf="isSelectedPantPocket">
            <h4>You have chosen:</h4>
            <h5>{{ selectedPantPocket.name }}</h5>
            <p>{{ selectedPantPocket.description_long }}</p>
            <p>add more info or details here about the chosen item</p>
        </div>
    </div>
    <div class="col-lg-7">
        <h4>Choose Pant Back Pockets</h4>
        <div class="row">
            <div class="col-lg-3 image-circle mb-4" *ngFor="let pantPocket of pantPocketsMock">
                <img class="img-responsive option-circle" src="{{ pantPocket.url }}" />
                <br>
                <h5>{{ pantPocket.name }}</h5>
                <p>{{ pantPocket.desc }}</p>
                <button mat-raised-button class="select-button" (click)="SelectPantPocket(pantPocket)">Select</button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedPantCuff ? 'url(' + selectedPantCuff.url + ')' : ''}"></div>
        <div class="left-circle-text" *ngIf="isSelectedPantCuff">
            <h4>You have chosen:</h4>
            <h5>{{ selectedPantCuff.name }}</h5>
            <p>{{ selectedPantCuff.description_long }}</p>
            <p>add more info or details here about the chosen item</p>
        </div>
    </div>
    <div class="col-lg-7">
        <h4>Choose Pant Cuffs</h4>
        <div class="row">
            <div class="col-lg-3 image-circle mb-4" *ngFor="let pantCuff of pantCuffsMock">
                <img class="img-responsive option-circle" src="{{ pantCuff.url }}" />
                <br>
                <h5>{{ pantCuff.name }}</h5>
                <p>{{ pantCuff.desc }}</p>
                <button mat-raised-button class="select-button" (click)="SelectPantCuff(pantCuff)">Select</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>
            </div>
        </div>
    </div>
</div>
