<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>FINALIZE YOUR CART</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-lg-5 mx-2 mt-5">
    <div class="col-lg-10 col-md-12">
    <hr>
        <div class="row" *ngFor="let product of cart.products; let i = index">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <p class="product-name">{{ product.name }}</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <p class="product-desc" >{{ product.description }}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <p class="product-pricing">R {{ product.price }}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button mat-raised-button class="delete-button" (click)="RemoveProduct(i)">X</button>
                </div>
        </div>
    <hr>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start"> </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 hide-mobile">
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Finalize your cart </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Add your details </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Delivery </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Complete Order </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> Payment </p>
    </div>
</div>