<div class="row mt-5 pt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 #MainFocus>Choose a contrast package</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedConstrastPackage ? 'url(' + selectedConstrastPackage.url + ')' : ''}"></div>
        <div class="left-circle-text" *ngIf="isSelectedConstrastPackage">
            <h4>You have chosen:</h4>
            <h5>{{selectedConstrastPackage.name}}</h5>
            <p>{{selectedConstrastPackage.description_long}}</p>
            <p>add more info or details here about the chosen item</p> 
        </div>
    </div>
    <div class="col-lg-7">
        <h4>Contrast Package</h4>
        <div class="row">
            <div class="col-lg-3 image-circle mb-4" *ngFor="let contrastPackage of contrastPackagesMock">
                <img class="img-responsive option-circle" src="{{ contrastPackage.url }}" />
                <br>
                <h5>{{ contrastPackage.name }}</h5>
                <p>{{ contrastPackage.desc }}</p>
                <p class="pricing">R {{ contrastPackage.price }}</p>
                <button mat-raised-button class="select-button" (click)="SelectContrastPackage(contrastPackage)">Select</button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h4>Choose a colour for the undercollar</h4>   
                <div class="col-lg-4 d-flex flex-row">
                    <!-- TODO: Add tooltips to display colour name/group -->
                    <p class="colour-label-text">Colour</p>    
                    <button class="circle purple" (click)="selectedContrastPackageColour = 'purple'"></button>                            
                    <button class="circle blue" (click)="selectedContrastPackageColour = 'blue'"></button>
                    <button class="circle brown" (click)="selectedContrastPackageColour = 'brown'"></button>        
                    <button class="circle red" (click)="selectedContrastPackageColour = 'red'"></button>
                    <button class="circle black" (click)="selectedContrastPackageColour = 'black'"></button>                    
                </div>                 
            </div>
        </div>
    </div>  
    <div class="col-lg-2">
        <p class="active-link" (click)="jacketBuilderService.SetFinerDetailsStage.emit(FinerDetailsStage.ButtonStyles)"><i class="fa fa-circle" aria-hidden="true"></i> Buttons</p>
        <p class="chosen-style-text">You chose style {{currentSuit.buttonHole}}</p>
        <p class="chosen-style-text">You chose style {{currentSuit.boutonnerie}}</p>
        <p class="chosen-style-text">You chose style {{currentSuit.lastButtonSleeve}}</p>
        <p class="active-link"><i class="fa fa-circle" aria-hidden="true"></i> Custom Packages </p>       
    </div>     
</div>
<hr>
<div class="col-lg-12 d-flex justify-content-center mt-5">
    <h2>Choose a Top Stitch</h2>
</div>
<div class="col-lg-12 d-flex justify-content-center">
    <p class="brown-paragraph-text">Lorem ipsum dolor sit amet,consectetur.</p>
</div>
<div class="row ml-5 mt-5">
    <div class="col-lg-3">
        <div class="placeholder-circle-designs" [ngStyle]="{'background': isSelectedTopStitch ? 'url(' + selectedTopStitch.url + ')' : ''}"></div>
        <div class="left-circle-text" *ngIf="isSelectedTopStitch">
            <h4>You have chosen:</h4>
            <h5>{{selectedTopStitch.name}}</h5>
            <p>{{selectedTopStitch.description_long}}</p>
            <p>add more info or details here about the chosen item</p> 
        </div>
    </div>
    <div class="col-lg-7">
        <h4>Top Stitch</h4>
        <div class="row">
            <div class="col-lg-3 image-circle mb-4" *ngFor="let topStitch of topStitchsMock">
                <img class="img-responsive option-circle" src="{{ topStitch.url }}" />
                <br>
                <h5>{{ topStitch.name }}</h5>
                <p>{{ topStitch.desc }}</p>
                <p class="pricing">R {{ topStitch.price }}</p>
                <button mat-raised-button class="select-button" (click)="SelectTopStitch(topStitch)">Select</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 d-flex justify-content-start">
                <button mat-raised-button class="back-button" (click)="Previous()">Back</button>  
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button mat-raised-button class="next-button" (click)="Next()">Next</button>  
            </div>
        </div>
    </div>  
</div>